.order-contents{
  background-color:  hsl(13, 31%, 94%);
  border-radius: 0.5rem;

  .item-spacer{
    border-bottom: 1px solid hsla(15, 12%, 87%, 0.96);
    margin: 0 1rem;

  }
}

.confirm-btn{
  color: #FCF9F7FF;
  background-color: hsl(14, 86%, 42%);
  min-width: 150px;
  max-width: 570px;
  font-weight: 400;

}
