@import 'bootstrap/scss/bootstrap';
@import '../public/fonts/font.scss';

html, body { height: 100%; }
body { margin: 0; padding: 0 }


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Red Hat Text', sans-serif !important;
  font-weight: 400;
  background-color: hsl(13, 31%, 94%)!important;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  margin: 0!important;
  padding: 0!important;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
